# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# bootloader
limine

# clang lsp
.cache

# macOS crap
.DS_Store

# the build directory
build

# iso files
*.iso

# more stuff

*.o
*.dep
.deps
*~
sys_kern
*.sym
*.dmp
config.log
config.status
Makefile
Makefile.in
sys/config.h
.DS_Store
*.json
man/html
.cache
autom4te.cache
.vscode
stamp-*
aclocal.m4
.dirstamp